<ion-content padding class="bg-image">

  <ion-grid fxLayout='column'>
    <ion-row class='sign-in row-1'>
      <ion-col align='center'>
        <div class="headline">boxhound</div>
          <ion-list>
            <ion-item>
              <ion-label floating>Email</ion-label>
              <ion-input type="email" [(ngModel)]="credentials.email"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list>
            <ion-item>
              <ion-label floating>Password</ion-label>
              <ion-input type="password" [(ngModel)]="credentials.password"></ion-input>
            </ion-item>
          </ion-list>
          <ion-list *ngIf='workflow === "REGISTER"'>
            <ion-item>
              <ion-label floating>Confirm Password</ion-label>
              <ion-input type="password" [(ngModel)]="confirmPass"></ion-input>
            </ion-item>
          </ion-list>
          <br>
          <br>
        <button ion-button full class="confirm-button" (click)="doAuth()">{{workflow}}</button>
        <br>
        <h6><a align="center" (click)="switchWorkflow()" class="card-width">
          <p class='switch-text'>{{switchText}}</p> 
          {{triggerWord}}
        </a></h6>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
