page-login {
  .grid {
    height: 100%;

    .row-1 {
      height: 85%;
      margin-top: 20%;
    }

  }

  .headline, .subheader {
    color: #fff;
    font-weight: 200;
  }

  // Set with vw to ensure it doesn't wrap lines
  .headline {
    font-size: 15vw;
    font-weight: lighter;
    margin-bottom: 15%;
    font-family: 'Work Sans', sans-serif;
  }

  .subheader {
    font-size: 10vw;
  }

  a {
    color: #fff;

    p {
      color: #333;
      line-height: 50%;
    }
  }

  .confirm-button {
    background-color: #fff;
    color: color($colors, primary);
  }

  .item-ios, .item-md {
    background-color: transparent;
    color: white;
  }

  .list-ios, .list-md {
    margin: 0;
  }

  .item-input .label-md {
    color: #fff;
  }

  .input-has-focus .label-md[floating] {
    color: #fff;
  }

  .list-ios > .item-block:first-child {
    border-top: none;
  }

  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: #fff;
  }

  // .button-ios, .button-md {
  //   padding: 0 3em;
  //   margin: 32px;
  //   color: grey;
  // }

  .bg-image {
    background-color: color($colors, primary);
  }
}
