<ion-tabs color="primary">
  <ion-tab [root]="tab1Root" tabIcon="ios-search" (ionSelect)="changeTab()"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="ios-add-circle" (ionSelect)="changeTab()"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="ios-qr-scanner" (ionSelect)="changeTab()"></ion-tab>
  <ion-tab [root]="tab4Root" tabIcon="ios-settings" (ionSelect)="changeTab()"></ion-tab>
</ion-tabs>
