<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Box Details
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)='goToAddBox(box)'>
        <ion-icon name="md-create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-list>
    <ion-list-header>Box Name</ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="box.name" readonly='true'></ion-input>
    </ion-item>
  </ion-list>
  <ion-list *ngIf='box.locationObject'>
    <ion-list-header>Location</ion-list-header>
    <ion-item>
      <ion-input type="text" [(ngModel)]="box.locationObject.location_name" readonly='true'></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="boxContents.length">
    <ion-list-header>Contents</ion-list-header>
    <ion-card class='list-item'>
      <ion-item *ngFor="let item of boxContents; let i = index;" class='list-in-card'>
        {{item}}
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-item class='primary' *ngIf='box.qrCode'>
      QR Code
      <ion-icon name='md-checkmark' item-end></ion-icon>
    </ion-item>
    <ion-item class='primary' *ngIf='!box.qrCode'>
      No QR Code Added
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card text-center no-margin class="width-100" *ngIf="box.contentsImgUrl">
          <ion-card-header>
            Contents
          </ion-card-header>
          <img [src]="box.contentsImgUrl">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center no-margin class="width-100" *ngIf="box.locationImgUrl">
          <ion-card-header>
            Location
          </ion-card-header>
          <img [src]="box.locationImgUrl">
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


