<ion-content padding class="bg-grey">
  <ion-grid>

    <ion-row center class="header-content">
      <ion-col col-4>
        <h2>(Box picture)</h2>
      </ion-col>
      <ion-col col-8>
        <h2>Welcome to</h2>
        <h1 text-uppercase>storagemate</h1>
      </ion-col>
    </ion-row>

    <ion-row center class="middle-content">
      <ion-col>
        <h2> Storage and organization made easy for e-folks!</h2>
      </ion-col>
    </ion-row>

    <ion-row center class="bottom-content">
      <ion-col col-12>
        <h2> Start by adding a box</h2>
      </ion-col>

      <ion-col center>
        <ion-icon name="ios-arrow-dropdown-circle"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>
  <!-- <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
</ion-content>
