page-home {

  justify-content: center;
  align-items: center;
  text-align: center;

  ion-grid {
    height: 100%;
  }
  
  .header-content {
    display: flex;

    flex: 1;
  }

  .middle-content {
    flex: 1;
  }

  .bottom-content {
    flex: 1;
  }

  ion-icon {
    font-size: 15vw;
  }

}
