<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-grey">
  <ion-grid>
    <ion-row>
      <ion-col>
          <button ion-button block (click)="editLocation()">Edit Locations</button>
          <br>
          <button ion-button block (click)="logout()">Logout</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
