// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.bg-grey {
  background-color: #f8f8f8;
}

.bg-transparent {
  background-color: transparent;
}

.primary {
  color: color($colors, primary);
}

.card-width {
  margin: 10px 10px 10px 10px;
  width: calc(100% - 20px);
}

.width-100 {
  width: 100%;
}

.page-header {
  font-weight: 400;
}

.tabbar.show-tabbar {
  // Active tab special styling
  .tab-button[aria-selected=true] {
      background-color: darken(color($colors, primary), 20%);
      border-top: 2px solid #fff;

      &:before, &:after {
        width: 2.5%;
        height: 0;
        padding-left:2.5%;
        padding-top: 2.5%;
        overflow: hidden;
        position: absolute;
        left:0;right:0;
        margin:auto;
        top: 100px;
        z-index:1;        
      }
  }

  ion-icon {
    font-size: 40px;
    height: 60px;
    line-height: 60px;
  }
}

.transparent-body {
  background: none transparent !important;
  opacity: 0 !important;
}

.no-padding {
  padding: 0px !important;
}

.list-in-card {
  border-bottom: 1px solid #c8c7cc;
}

.list-item {
  width: 100%;
  margin: 0;
  padding: 0;
}

ion-app.cameraView, ion-app.cameraView ion-content, ion-app.cameraView .nav-decor {
  background: transparent none !important; 
}

.list-header-md {
  margin-bottom: 1px;
  background: transparent;
  text-transform: uppercase;
  color: #333;
  font-size: 1.2rem;
}

.tabbar.show-tabbar .tab-button[aria-selected=true] {
  background-color: color($colors, primary);
  color: #333;
  border-top: none !important;
}

.tabs-md-primary .tab-button:hover:not(.disable-hover), .tabs-md-primary .tab-button[aria-selected=true], .tabs-md-primary .tab-button[aria-selected=true] .tab-button-icon {
  color: #333;
}

.tabs-ios-primary .tab-button:hover:not(.disable-hover), .tabs-ios-primary .tab-button[aria-selected=true], .tabs-ios-primary .tab-button[aria-selected=true] .tab-button-icon {
  color: #333;
}

.list-header-md {
  border-top: none;
}

.text-input[disabled] {
  opacity: 1;
}
