<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Search My Boxes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">

  <div *ngIf='!isDoingQRFilter'>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ngModelChange)="searchUpdate()"
      class="bg-transparent"
      [showCancelButton]="true">
    </ion-searchbar>
  </div>

  <div *ngIf='isDoingQRFilter && foundQRCode'>
    <ion-list>
      <ion-item>
          <small>Showing results for QR Code</small> 
        <button ion-button item-end outline (click)='removeFilter()'>Clear Filter</button>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf='isDoingQRFilter && !foundQRCode'>
    <ion-list>
      <ion-item>
          <small>No results for QR Code</small> 
        <button ion-button item-end outline (click)='removeFilter()'>Clear Filter</button>
      </ion-item>
    </ion-list>
  </div>
  
  <ion-list *ngFor="let item of sortedItems" class='location-list'>
    <ion-list-header tappable (click)='goToEditLocation()'>{{item.locationObject?.location_name}}
        <ion-icon class='editHomeButtonIcon' name="ios-arrow-forward" item-end></ion-icon>
      <!-- <button icon-only></button> -->
    </ion-list-header>
    <ion-card class='list-item'>
      <button 
        ion-item 
        *ngFor='let box of item.boxes'
        (click)="goToBox(box, item)"
        class='list-in-card'>
        <h2 class="primary">{{box.name}}</h2>
      </button>
    </ion-card>
  </ion-list>

  <div text-center *ngIf="!(items | async)?.length">
    <br>
    <br>
    <br>
    <h4>No boxes saved yet.</h4>
    <button ion-button block class="card-width" (click)="goToAddBox()">Add First Box</button>
  </div>

</ion-content>
