page-search {
    .search-list .scroll-content {
        padding: 0px;
    }

    .location-list ion-list-header {
        min-height: 2rem;
    }

    .list-ios, .list-md {
        margin: 0px 0 22px 0;
    }

    .item-inner > ion-icon {
        min-height: 2rem;
        font-size:  2.2rem;
    }

    .item-ios [item-end], .item-md [item-end] {
        margin: 8px 16px 8px 8px;
    }

}
