page-add-box {
  .list-ios {
    margin: 0 0 22px 0;
  }

  .location-select {
    width: 100%;
    max-width: 100% !important;
  }

  ion-grid {
    img {
      height: 100px;
      object-fit: cover;
    }

    .take-photo-wrapper {
      height: 100px;
    }

    ion-icon {
      font-size: 36px;
    }
  }

  ion-input {
    width: 100%;
  }

  .disabled-text {
    color: color($colors, primary);
    font-weight: bold;
  }
}
