<ion-header>
  <ion-navbar color='primary'>
    <ion-buttons left *ngIf='!isNewBox'>
      <button ion-button clear (click)="close()">
        Cancel
      </button>
    </ion-buttons>
    <ion-title *ngIf='isNewBox'>Add a New Box</ion-title>
    <ion-title *ngIf='!isNewBox'>Edit Box</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf='isNewBox' (click)="saveBox()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf='!isNewBox' (click)="saveBox()">
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-list>
    <ion-list-header>Box Name</ion-list-header>
    <ion-item>
      <ion-input type="text" clearInput='true' placeholder='Enter a box name' [(ngModel)]="box.name"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Location</ion-list-header>
    <ion-item>
      <ion-select class='location-select' interface='popover' [(ngModel)]="box.locationKey" placeholder="Choose a location" (ionChange)='locationInputChange()'>
        <ion-option *ngFor='let location of locationService.myActualLocations' [value]='location.$key'>{{location.location_name}}</ion-option>
        <ion-option color='primary'>{{addNewLocation}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>Contents</ion-list-header> 
    <ion-card class='list-item'>
      <ion-item-sliding #slideItem *ngFor="let item of boxContents; let i = index; trackBy: customTrackBy" class='list-in-card'>
        <ion-item>
          <ion-input #contentInput type="text" placeholder="Add contents.." [(ngModel)]="boxContents[i]" (keyup.enter)='addBoxContent(boxContents[i])'></ion-input> 
        </ion-item>

        <ion-item-options class='list-in-card'>
          <button ion-button (click)='removeBoxContents(i, slideItem)' icon-only color="danger">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item>
        <ion-input (click)='addBoxContent()' value='Add item' disabled class='disabled-text'></ion-input>
      </ion-item>

    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>QR Code</ion-list-header>
    <button ion-item (click)="addQRCode()" *ngIf='!box.qrCode'>
      <ion-icon name="md-qr-scanner" item-start color='primary'></ion-icon>
      Add QR Code
    </button>
    <button ion-item (click)="addQRCode()" *ngIf='box.qrCode'>
      <ion-icon name="md-qr-scanner" item-start color='primary'></ion-icon>
      QR Code Added!
    </button>  
  </ion-list>            

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card text-center no-margin class="width-100" (click)="takePhoto('contents')">
          <ion-card-header>
            Contents
          </ion-card-header>
          <img *ngIf="imgBase64.contents" [src]="getBase64(imgBase64.contents)">
          <img *ngIf="box.contentsImgUrl && !imgBase64.contents" [src]="box.contentsImgUrl">
          <div padding *ngIf="!box.contentsImgUrl && !imgBase64.contents" class="take-photo-wrapper">
            <ion-icon name="camera" color="primary"></ion-icon>
            <p>Take Photo</p>
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card text-center no-margin class="width-100" (click)="takePhoto('location')">
          <ion-card-header>
            Location
          </ion-card-header>
          <img *ngIf="imgBase64.location" [src]="getBase64(imgBase64.location)">
          <img *ngIf="box.locationImgUrl && !imgBase64.location" [src]="box.locationImgUrl">
          <div padding *ngIf="!box.locationImgUrl && !imgBase64.location" class="take-photo-wrapper">
            <ion-icon name="camera" color="primary"></ion-icon>
            <p>Take Photo</p>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
