page-location-form {

    agm-map {
        height: 200px;
      }

    .place-searchbar {
        width: 100%;
        border: none;
        .placeholder {
            color: #999;
        }
    }

    // .location-header[text-center]{
    //     margin-right: 75px;
    // }

}
