<ion-header>
  <ion-navbar color='primary'>
    <ion-title *ngIf='!isEditing'>Add Location</ion-title>
    <ion-title *ngIf='isEditing'>Edit Location</ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf='!isEditing' (click)='saveLocation()'>
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf='isEditing' (click)='updateLocation()'>
        <ion-icon name="md-checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  <ion-list>
    <ion-item>
      <ion-label floating>Location Name</ion-label>
      <ion-input [(ngModel)]='name'></ion-input>
    </ion-item>
    <ion-item>
      <!-- <ion-label floating>Address</ion-label>
      <ion-input
        id='locationSearch'
        [ngModel]='currentAddress'
        class='place-searchbar'
        #search
        autocorrect='off'
        autocapitalize="off" 
        spellcheck="off"
        type="text" 
        value=""
        (click)='clearInput()'>
      </ion-input> -->

      <input
        [ngModel]='currentAddress'
        class='place-searchbar'
        #search
        placeholder='Search for location' 
        autocorrect='off'
        autocapitalize="off" 
        spellcheck="off"
        type="text" 
        value=""
        (click)='clearInput()'>
      <!-- </input> -->
    </ion-item>
  </ion-list>

  <agm-map *ngIf='!isEditing' [latitude]="lat" [longitude]="lng" [zoom]='zoom'>
    <agm-marker *ngIf='isCurrentLocation' [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>

  <agm-map *ngIf='isEditing' [latitude]="locationObject.lat" [longitude]="locationObject.lng" [zoom]='zoom'>
    <agm-marker [latitude]="locationObject.lat" [longitude]="locationObject.lng"></agm-marker>
  </agm-map>

</ion-content>
