<ion-header>
  <ion-navbar color='primary'>
    <ion-title>Locations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">
  
  <ion-list>
    <ion-card class='list-item'>
      <button *ngFor='let location of locationService.myLocations | async' class='list-in-card' ion-item (click)='goToLocationForm(location)'>
        {{location.location_name}}
      </button>  
      <!-- <div padding-left padding-right>
        <p>{{location.location_info.street_number}} {{location.location_info.route}}</p>
        <p>{{location.location_info.locality}}, {{location.location_info.administrative_area_level_1}} {{location.location_info.postal_code}}</p>
      </div> -->
      <button ion-item (click)='goToLocationForm()'>
        <h2 class='primary-color'>Add New Location</h2>
      </button>
    </ion-card>
  </ion-list>

</ion-content>
