page-location-list {
    ion-card {
        width: 100%;
    }

    .grey-font-color {
        color: #808080;
    }

    .primary-color {
        color: color($colors, primary);
        font-weight: bold;
    }

    // .location-header[text-center]{
    //     margin-right: 75px;
    // }
} 
